.slider .slider-item {
    display: flex;
    padding-top: 50px;
    padding-bottom: 51px;
    padding-left: 82px;
    padding-right: 112px;
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.slider .networks-link {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin-top: 20px;

}

.slider .slider-foto {
    text-align: center;

}